@use "sass:color";
@use "sass:list";
@use "_variables.scss" as *;
@use "_functions.scss" as *;
@use "_mixins.scss" as *;

.alert {
  position: relative;
  padding: 0.75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: rem(4);
}

.alert-success {
  color: $success;
  background-color: tint-color($success, 80%);
  border-color: tint-color($success, 60%);
}

.alert-danger {
  color: $danger;
  background-color: tint-color($danger, 80%);
  border-color: tint-color($danger, 60%);
}

.alert-error {
  @extend .alert-danger;
}

.alert-info {
  color: #0c5460;
  background-color: #d1ecf1;
  border-color: #bee5eb;
}
